body{
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    font-size: 16px;
   
}
.homeContainer{
    .header{
        height: 60px;
        width: 100%;
         background: url('../images/bg1.jpg') no-repeat center center;
         background-size: cover;
         a {
             color: white;
             font-size: 26px;
             text-decoration: none;
             height: 60px;
             display: flex;
             margin-left: 5px;
             align-items: center;
             img {
                 width:45px;
                 height: 45px;
                 margin-left: 30px;
             }
             span {
                 color: #fff;
                 margin-left: 30px;
                 font-size: 38px;
                
             }
         }
    }
    .menus{
        height: 60px;
        width:100%;
        font-size: 24px;
    }
    .main{
        width: 100%;      
        .sliderPane {
            height: 650px;
            .el-carousel__container {
              height: 650px;
              width: 100%;
            }
        }
        .footer{
            height: 100px;
            width: 100%;
        }
        
    }
}

.el-menu-item{
    
}